/* importing tailwind css  */


/* Styling the dark-themed application */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

textarea { 
  width: 100%;
  height: 100px;
  margin: 20px 0;
  font-size:  30px !important;
}

.passage {
  margin: 20px 0;
}

.correct {
  color: #00ff00;
}

.incorrect {
  color: #ff0000;
}

